body,text {
	font-family: Roboto Slab, serif;
	font-weight:300;
	font-size:23px;
}

body {
	margin: 0;
}

.title {
	font-size:140%;
	text-anchor:middle;
}

b, .bold {
	font-family: Roboto, sans-serif;
	font-weight:900;
}

.italic {
	font-style:italic;
}

.small {
	font-size:90%;
}

svg {
	isolation:isolate;
}

.wrapper{
	cursor:pointer;
}

.axis, .error-bar {
	fill: none;
	stroke-miterlimit: 10;
}

.axis {
	stroke: silver;
}

.center {
	stroke-width:2px;
}

.error-bar {
	display:none;
	stroke-width: 1px;
}

.dot {
	fill: none;
}

#sort_method:hover {
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size:110%;
	cursor: pointer;
}

#tooltip tspan {
	fill:white;
}

#tooltip path {
	stroke:none;
	fill:black;
	opacity: 0.6;
}
